<!DOCTYPE html>
<html>
<head>
<title>Warband Creator</title>
<style>
table, th, td { border: 1px solid black; text-align: left; }
</style>
  </head>
  <body>

    <h1>Warband</h1>
    <h2>Warband Name:<input type="text" id="bandnametext" name="bandnametext"></h2>

    <table border="0">
      <tr>
        <td><h3>Currency remaining: </h3></td>
        <td id='remainingGold'>500</td>
      </tr>
    </table>
    <table id="captainTable">
      <tr>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Specialism</td>
        <td>Weapons and Equipment</td>
        <td>Skills</td>
      </tr>
      <tr>

        <td>{{captain['Captain']['Move']}}</td>
        <td>{{captain['Captain']['Fight']}}</td>
        <td>{{captain['Captain']['Shoot']}}</td>
        <td>{{captain['Captain']['Shield']}}</td>
        <td>{{captain['Captain']['Morale']}}</td>
        <td>{{captain['Captain']['Health']}}</td>

        <td><select id="capspecsel" onchange="setCapSkillchoice(this)">
          <option value="Empty">Select...</option>
          {% for spec in specs %}

          <option value="{{ spec }}">{{ spec }}</option>
          {% endfor %}
          </select></td>
        <td>
            {% for weap in weaps %}
            <input type="checkbox" id="{{weap}}_check" onclick="updateCost()" value="{{weap}}">{{weap}}<br>
            {% endfor %}
          </select>
        </td>
        <td></td>
      </tr>

    </table>
    Hire ensign? <input type="checkbox" name="appHire" id="ensHire" onClick="hireEng()">250gc<br>
    <div id="ensignDiv" style='display: none'>
      <table id="ensignTable">
        <tr>
          <td>Move</td>
          <td>Fight</td>
          <td>Shoot</td>
          <td>Shield</td>
          <td>Morale</td>
          <td>Health</td>
          <td>Specialism</td>
          <td>Weapons and Equipment</td>
          <td>Skills</td>
        </tr>
        <tr>
          <td>{{ensign['Ensign']['Move']}}</td>
          <td>{{ensign['Ensign']['Fight']}}</td>
          <td>{{ensign['Ensign']['Shoot']}}</td>
          <td>{{ensign['Ensign']['Shield']}}</td>
          <td>{{ensign['Ensign']['Morale']}}</td>
          <td>{{ensign['Ensign']['Health']}}</td>
          <td>
            <select id="ensskillsel" onchange="setEnsSkillchoice(this)">
              <option value="Empty">Select...</option>
              {% for spec in specs %}

              <option value="{{ spec }}">{{ spec }}</option>
              {% endfor %}
            </select>
          </td>
        <td>
            {% for weap in weaps %}
            <input type="checkbox" id="{{weap}}_ens_check" onclick="updateCost()" value="{{weap}}">{{weap}}<br>
            {% endfor %}
            </select>
          </td>
          <td></td>
        </tr>

      </table>
    </div>
    <table id='rosterTable'>
      <tr>
        <td>Class</td>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Cost</td>
        <td>Notes</td>
      </tr>
      {% for i in range(1,9) %}
      <tr>
        <td>
          <select id="troop{{i}}" onchange="updateTableRow({{ i }}, this)">
            <option value="Empty">Empty</option>
            {% for troop in people.keys() %}
            <option value="{{ troop }}">{{ troop }}</option>
            {% endfor %}
          </select>
        </td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>0</td>
        <td>-</td>
      </tr>
      {% endfor %}
    </table>
    <input id="creator" type="button" value="Create Warband" onclick="doFormSubmit(total);" />
    <input id="clear" type="button" value="Reset" onclick="window.location.href='/new'" />
  </body>

<script type="text/javascript">
  var total = 500;
  var engHire = false;
  var skill_list = ["{{ skill_list|join("\",\"")|safe }}"];
  console.log(skill_list);
  var captain_skill_choice;
  var ensign_skill_choice;


  // toggles ensign hire
  function hireEng()
  {
    // if hiring ensign, show ensign block, subtract cost
    if(engHire == false)
    {
      engHire = true;
      document.getElementById("ensignDiv").style.display = "block";
      total = total - 250;
      updateCost();
    }

    // if 'firing' ensign, hide ensign block, refund cost
    else
    {
      engHire = false;
      document.getElementById("ensignDiv").style.display = "none";
      total = total + 250;
      updateCost();
    }
  }




//occurs on skill change
function updateSkills()
{


{% for skill in skill_list %}
if(document.getElementById('{{skill}}'))
{
if(document.getElementById('{{skill}}').checked)
{
captain_skill_choice = "{{skill}}";
}
}

if(document.getElementById('{{skill}}_ensign'))
{
if(document.getElementById('{{skill}}_ensign').checked)
{
ensign_skill_choice = "{{skill}}";
}
}

{% endfor %}

console.log(captain_skill_choice);
console.log(ensign_skill_choice);


}







  //occurs on troop change
 function updateTableRow(row, x)
 {
   var sel = x.value;

   var myTable = document.getElementById('rosterTable');

   //if troop fired
   if(sel == "Empty")
   {
     myTable.rows[row].cells[1].innerHTML = '-';
     myTable.rows[row].cells[2].innerHTML = '-';
     myTable.rows[row].cells[3].innerHTML = '-';
     myTable.rows[row].cells[4].innerHTML = '-';
     myTable.rows[row].cells[5].innerHTML = '-'
     myTable.rows[row].cells[6].innerHTML = '-';
     myTable.rows[row].cells[7].innerHTML = 0;
     myTable.rows[row].cells[8].innerHTML = '-';
   }

   //if troop hired
   {% for troop in people.keys() %}
   if(sel == "{{troop}}")
   {
     myTable.rows[row].cells[1].innerHTML = '{{ people[troop]['Move'] }}';
     myTable.rows[row].cells[2].innerHTML = '{{ people[troop]['Fight'] }}';
     myTable.rows[row].cells[3].innerHTML = '{{ people[troop]['Shoot'] }}';
     myTable.rows[row].cells[4].innerHTML = '{{ people[troop]['Shield'] }}';
     myTable.rows[row].cells[5].innerHTML = '{{ people[troop]['Morale'] }}';
     myTable.rows[row].cells[6].innerHTML = '{{ people[troop]['Health'] }}';
     myTable.rows[row].cells[7].innerHTML = {{ people[troop]['Cost'] }};
     myTable.rows[row].cells[8].innerHTML = '{{ people[troop]['Notes'] }}';
   }
   {% endfor %}
   updateCost();
   }

   function validate()
   {
    console.log('validating')
   if(total < 0)
   {
   alert("Insufficient funds!")
   return false
   }

   if((document.getElementById('bandnametext').value) == "")
   {
   alert("Please name your Warband!")
   return false

   }

    return true

   }


// sum up troop cost, subtract from current funds
function updateCost()
{

  var sum = 0;
  var roster_table = document.getElementById('rosterTable');

  //if ensign hired
  if(document.getElementById("ensHire").checked)
  {
  sum += 250
  }

  //sum up cost of 8 troops
  for(i = 1; i <= 8; i++)
  {
    sum = sum + parseInt(roster_table.rows[i].cells[7].innerHTML);
  }


  //sum up item costs
  {% for weap in weaps %}

    if(document.getElementById("{{weap}}_check").checked)
    {
     sum += {{weaps[weap]}};
    }
    if(document.getElementById("{{weap}}_ens_check").checked)
    {
     sum += {{weaps[weap]}};
    }

   {% endfor %}



    //subtract troop cost from current funds
    total = 500 - sum;
    remainingGold.innerHTML = total;
    console.log(total);
  }


   // store choice made for captain's skill
    function setCapSkillchoice(x)
    {

      var choice = x.value;
      var captain_table = document.getElementById('captainTable');
      var list = captain_table.rows[1].cells[8];

      while (list.hasChildNodes())
      {
        list.removeChild(list.firstChild);
      }

      if(choice == "Empty")
      {
        list.appendChild(document.createTextNode("No Skills"));
      }

      {% for spec in skills.keys() %}

      if(choice == "{{spec}}")
      {

        var div = document.createElement("div");

        {% for element in skills[spec] %}

        var tempbutton = document.createElement("input");

         tempbutton.setAttribute("type", "radio");
         tempbutton.setAttribute("id", "{{element}}");
         tempbutton.setAttribute("name", "{{element}}");
         tempbutton.setAttribute("value", "{{element}}");
         tempbutton.setAttribute("onclick", "updateSkills()");

         var templabel = document.createElement("label");

         templabel.appendChild(document.createTextNode("{{element}}"));

         div.appendChild(tempbutton);
         div.appendChild(templabel);

         {% endfor %}

         list.appendChild(div);
         }

         {% endfor %}
         }

    function setEnsSkillchoice(x)
    {

     var choice = x.value;
     var myTable = document.getElementById('ensignTable');
     var list = myTable.rows[1].cells[8];

     while (list.hasChildNodes())
       {
         list.removeChild(list.firstChild);
       }

     if(choice == "Empty")
       {
         list.appendChild(document.createTextNode("No Skills"));
       }

     {% for spec in skills.keys() %}

         if(choice == "{{spec}}")
           {
           var div = document.createElement("div");

           {% for element in skills[spec] %}

               var tempbutton = document.createElement("input");

               tempbutton.setAttribute("type", "radio");
               tempbutton.setAttribute("id", "{{element}}" + "_ensign");
               tempbutton.setAttribute("name", "{{element}}" + "_ensign");
               tempbutton.setAttribute("value", "{{element}}");
               tempbutton.setAttribute("onclick", "updateSkills()");


               var templabel = document.createElement("label");

               templabel.appendChild(document.createTextNode("{{element}}"));
               div.appendChild(tempbutton);
               div.appendChild(templabel);

           {% endfor %}

           list.appendChild(div);

          }
     {% endfor %}
   }

    // shamelessly stolen from http://shebang.brandonmintern.com/foolproof-html-escaping-in-javascript/
    // One hopes tis indeed foolproof.
    // Use the browser's built-in functionality to quickly and safely escape
    // the string
    function escapeHTML(str)
    {
    var div = document.createElement('div');
    div.appendChild(document.createTextNode(str));
    return div.innerHTML;
    }

   function doFormSubmit(total)
   {
     // Set method to post by default if not specified.
     method =  "post";

      //band validation
      if(!(validate()))
      {
      return
      }



    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", "/new");

     console.log(total)

     var remainingGold = document.createElement("input");
     remainingGold.setAttribute("type", "hidden");
     remainingGold.setAttribute("name", "remainingGold");
     remainingGold.setAttribute("value", total);
     form.appendChild(remainingGold);

     //sanitize first!
     var bandname = document.createElement("input");
            bandname.setAttribute("type", "hidden");
            bandname.setAttribute("name", "bandname");
            bandname.setAttribute("value", escapeHTML(document.getElementById('bandnametext').value));
            form.appendChild(bandname);
     var capspec = document.createElement("input");
            capspec.setAttribute("type", "hidden");
            capspec.setAttribute("name", "capspec");
            capspec.setAttribute("value", document.getElementById('capspecsel').value);
            form.appendChild(capspec);
     var capskill = document.createElement("input");
            capskill.setAttribute("type", "hidden");
            capskill.setAttribute("name", "capskill");
            capskill.setAttribute("value", captain_skill_choice);
            form.appendChild(capskill);

     var capweap_array = []
                {% for weap in weaps %}

                  if(document.getElementById("{{weap}}_check").checked)
                  {
                   var weapon = "{{weap}}"
                   //sum += {{weaps[weap]}};
                   capweap_array.push(weapon)
                  }


                 {% endfor %}

                 console.log(capweap_array)

     var capweap = document.createElement("input");
            capweap.setAttribute("type", "hidden");
            capweap.setAttribute("name", "capweap");
            capweap.setAttribute("value", JSON.stringify(capweap_array));
            form.appendChild(capweap);

     if (engHire)
     {
      var hasensign = document.createElement("input");
            hasensign.setAttribute("type", "hidden");
            hasensign.setAttribute("name", "hasensign");
            hasensign.setAttribute("value", engHire);
            form.appendChild(hasensign);
      var ensspec = document.createElement("input");
            ensspec.setAttribute("type", "hidden");
            ensspec.setAttribute("name", "ensspec");
            ensspec.setAttribute("value", document.getElementById('ensskillsel').value);
            form.appendChild(ensspec);
     var ensskill = document.createElement("input");
            ensskill.setAttribute("type", "hidden");
            ensskill.setAttribute("name", "ensskill");
            ensskill.setAttribute("value", ensign_skill_choice);
            form.appendChild(ensskill);
     var ensweap_array = []
                {% for weap in weaps %}

                  if(document.getElementById("{{weap}}_ens_check").checked)
                  {
                   var weapon = "{{weap}}"
                   //sum += {{weaps[weap]}};
                   ensweap_array.push(weapon)
                  }

                 {% endfor %}

                 console.log(ensweap_array)

     var ensweap = document.createElement("input");
            ensweap.setAttribute("type", "hidden");
            ensweap.setAttribute("name", "ensweap");
            ensweap.setAttribute("value", JSON.stringify(ensweap_array));
            form.appendChild(ensweap);

       }

     var troopsarr = []
             for(i = 1; i < 9; i++)
             {
               var selector = document.getElementById('troop'+i);
               troopsarr.push(selector.value);
             }
     var troops = document.createElement("input");
            troops.setAttribute("type", "hidden");
            troops.setAttribute("name", "troops");
            troops.setAttribute("value", JSON.stringify(troopsarr));
            form.appendChild(troops);


    document.body.appendChild(form);
    form.submit();
   }

  </script>

</html>
