<!DOCTYPE html>
<html>
  <head>
    <title>Warband Editor</title>
    <style>
      table, th, td { border: 1px solid black; text-align: left; }
    </style>
  </head>
  <body>

  <! warband name display/change >
    <h1>Warband</h1>
    <h2>Warband Name:<input type="text" id="bandnametext" name="bandnametext" value="{{ band['Name'] }}"></h2>


  <! currency display/change >
    <table border="0">
      <tr>
        <td><h3>Currency remaining: </h3></td>
        <td id='remainingGold'>{{ band['Treasury'] }}</td>
        <td><h3>Add Currency:</h3></td>
        <td><input id="add_currency" type="number" value="0" onkeypress="return(false)" onclick="updateCost()"></td>
      </tr>
    </table>


  <! captain display >
    <table id="captainTable">

      <! captain stat headings >
      <tr>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Specialism</td>
        <td>Weapons and Equipment</td>
        <td>Skills</td>
        <td>Experience</td>
      </tr>

      <! captain stat values >
      <tr>
        <td>5</td>
        <td><input id="capfig" type="number" max="8"  onkeypress="return(false)" press value="{{band['Captain']['Fight']}}"></td>
        <td><input id="capsho" type="number" max="8"  onkeypress="return(false)" value="{{band['Captain']['Shoot']}}"></td>
        <td>12</td>
        <td><input id="capmor" type="number" max="8"  onkeypress="return(false)" value="{{band['Captain']['Morale']}}"></td>
        <td><input id="caphea" type="number" max="20" onkeypress="return(false)" value="{{band['Captain']['Health']}}"></td>

        <! captain specialism >
        <td><select id="capspecsel" onchange="setCapSkillchoice(this)" disabled>
          <option value="Empty">Select...</option>
          {% for spec in specs %}
          {% if spec == band['Captain']['Specialism']: %}
          <option value="{{ spec }}" selected>{{ spec }}</option>
          {% else %}
          <option value="{{ spec }}">{{ spec }}</option>
          {% endif %}
          {% endfor %}
          </select></td>

        <! captain weaponry loadout >
        <td>
            {% for weap in weaps %}
            <input type="checkbox" id="{{weap}}_check" onclick="updateCost()" value="{{weap}}">{{weap}}<br>
            {% endfor %}
          </select>
        </td>

        <! captain skills >
        <td>
          {% for opt in skills[band['Captain']['Specialism']] %}
          {% if opt in band['Captain']['Skillset'] %}
          <input type="checkbox"  name="capskil" value="{{opt}}" checked>{{opt}}
          {% else %}
          <input type="checkbox" name="capskil"  value="{{opt}}">{{opt}}
          {% endif %}
          {% endfor %}
        </td>

        <! captain experience >
        <td><input id="capexp" type="number" value="{{band['Captain']['Experience']}}"/></td>

      </tr>


      <! END OF CAPTAIN >
      <! START OF ENSIGN >


    </table>
    Hire ensign? <input type="checkbox" name="ensign_hire" id="ensign_hire" onClick="toggle_ensign()" {% if 'Ensign' in band.keys() %} checked {%endif%}>250gc<br>


    <! hide/display ensign block dependant on ensign existence >

    {% if 'Ensign' in band.keys() %}
    <div id="ensignDiv" style='display: block'>

    {%else%}
    <div id="ensignDiv" style='display: none'>
    {%endif%}

        <table id="ensignTable">
          <tr>

            <! ensign stat headings >
            <td>Move</td>
            <td>Fight</td>
            <td>Shoot</td>
            <td>Shield</td>
            <td>Morale</td>
            <td>Health</td>
            <td>Specialism</td>
            <td>Weapons and Equipment</td>
            <td>Skills</td>
            <td>Experience</td>

          </tr>
          {% if 'Ensign' in band.keys() %}
          <tr>

            <! ensign stat values, loaded from previous ensign config >
            <td>7</td>
            <td><input id="enfig" type="number" max="6"  onkeypress="return(false)" value="{{band['Ensign']['Fight']}}"></td>
            <td><input id="ensho" type="number" max="6"  onkeypress="return(false)" value="{{band['Ensign']['Shoot']}}"></td>
            <td>10</td>
            <td><input id="enmor" type="number" max="4"  onkeypress="return(false)" value="{{band['Ensign']['Morale']}}"></td>
            <td><input id="enhea" type="number" max="16" onkeypress="return(false)" value="{{band['Ensign']['Health']}}"></td>
            <td><select id="ensskillsel" onchange="setEnsSkillchoice(this)" disabled>
              <option value="Empty">Select...</option>

              <! ensign speciality, loaded from previous ensign config >
              {% for spec in specs %}
                {% if spec == band['Ensign']['Specialism']: %}
                  <option value="{{ spec }}" selected>{{ spec }}</option>
                {% else %}
                  <option value="{{ spec }}">{{ spec }}</option>
                {% endif %}
              {% endfor %}
            </select>
            </td>

            <! ensign weapon loadout, loaded from previous ensign config >
        <td>
            {% for weap in weaps %}
            <input type="checkbox" id="{{weap}}_ens_check" onclick="updateCost()" balue="{{weap}}">{{weap}}<br>
            {% endfor %}
            </select>
          </td>


            <! ensign skills, loaded from previous ensign config >
            <td>
              {% for opt in skills[band['Ensign']['Specialism']] %}
              {% if opt in band['Ensign']['Skillset'] %}
              <input type="checkbox" name="ensskil"  value="{{opt}}" checked>{{opt}}
              {% else %}
              <input type="checkbox" name="ensskil"  value="{{opt}}">{{opt}}
              {% endif %}
              {% endfor %}
            </td>
            <td><input id="enexp" type="number" value="{{band['Ensign']['Experience']}}"/></td>

          </tr>
          <! ensign default values of all the above >
          {% else %}

          <! ensign default stats >
          <tr>
            <td>{{ensign['Ensign']['Move']}}</td>
            <td>{{ensign['Ensign']['Fight']}}</td>
            <td>{{ensign['Ensign']['Shoot']}}</td>
            <td>{{ensign['Ensign']['Shield']}}</td>
            <td>{{ensign['Ensign']['Morale']}}</td>
            <td>{{ensign['Ensign']['Health']}}</td>
            <td>

              <! ensign speciality choice >
              <select id="ensskillsel" onchange="setEnsSkillchoice(this)">
                <option value="Empty">Select...</option>
                {% for spec in specs %}

                {% if spec == ensign['Ensign']['Specialism']: %}
                <option value="{{ spec }}" selected>{{ spec }}</option>
                {% else %}
                <option value="{{ spec }}">{{ spec }}</option>
                {% endif %}
                {% endfor %}
              </select>

            <! ensign default weapon loudout >
            <td>
            {% for weap in weaps %}
            <input type="checkbox" id="{{weap}}_ens_check" onclick="updateCost()" value="{{weap}}">{{weap}}<br>
            {% endfor %}
            </select>
          </td>

            <! ensign experience >
            </td>
            <td></td>
            <td><input id="ensexp" type="number" value="{{ensign['Ensign']['Experience']}}"/></td>

          </tr>

          {% endif %}


          <! END OF ENSIGN >
          <! BEGINNING OF TROOPS >


        </table>
      </div>
      <table id='rosterTable'>
        <tr>

          <! Troop stat headings >

          <td>Class</td>
          <td>Move</td>
          <td>Fight</td>
          <td>Shoot</td>
          <td>Shield</td>
          <td>Morale</td>
          <td>Health</td>
          <td>Cost</td>
          <td>Notes</td>
        </tr>

        <! troops stat values >

        {% set p = 1 %}
        {% for trooper in band['Troops'] %}
        <tr>
          <td>
            <select id="troop{{p}}" onchange="updateTroopRoster({{ p }}, this)">
              <option value="Empty">Empty</option>
              {% for troop in people.keys() %}
              {% if troop == trooper: %}
              <option value="{{ troop }}" selected >{{ troop }}</option>
              {% else %}
              <option value="{{ troop }}" >{{ troop }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </td>
          <td>{{ people[trooper]['Move'] }}</td>
          <td>{{ people[trooper]['Fight'] }}</td>
          <td>{{ people[trooper]['Shoot'] }}</td>
          <td>{{ people[trooper]['Shield'] }}</td>
          <td>{{ people[trooper]['Morale'] }}</td>
          <td>{{ people[trooper]['Health'] }}</td>
          <td>{{ people[trooper]['Cost'] }}</td>
          <td>{{ people[trooper]['Notes'] }}</td>
        </tr>
        {% set p = p + 1 %}
        {% endfor %}

        <! values for empty troop slots >

        {% for i in range((band['Troops']|length)+1,9) %}
        <tr>
          <td>
            <select id="troop{{i}}" onchange="updateTroopRoster({{ i }}, this)">
              <option value="Empty">Empty</option>
              {% for troop in people.keys() %}
              <option value="{{ troop }}">{{ troop }}</option>
              {% endfor %}
            </select>
          </td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>0</td>
          <td>-</td>
        </tr>
        {% endfor %}
      </table>

    <! create / cancel buttons >

      <input id="creator" type="button" value="Commit Changes" onclick="doFormSubmit(total);" />
      <input id="cancel" type="button" value="Cancel Changes" onclick="window.location.href='/edit'" />
      <tr><td></td><td><button onclick="window.location.href='/'">Main Menu</button></td></tr>
      </div>
      </body>


  <! HERE ENDETH THE HTML >
  <! SO BEGINNETH THE JAVASCRIPT >


    <script type="text/javascript">

    // setup initial finances
    var total = {{ band['Treasury'] }};

    // retrieve captain/ensign skills
    var captain_skill = ["{{ band['Captain']['Skillset']|join("\",\"")|safe }}"];

    //ensign skills seem to be breaking some bands but not others, for reasons beyond my comprehension.
    /*
    {% if 'Ensign' in band.keys() %}
    {
    var ensign_skill = ["{{ band['Ensign']['Skillset']|join("\",\"")|safe }}"];
    }
    {% endif %}
    */


    //check for ensign existence, set variables accordingly
    {% if 'Ensign' in band.keys():  %}
    var engHire = true;
     var hadEnsign = true;
    {%else%}
    var engHire = false;
     var hadEnsign = false;
    {% endif %}
    toggle_ensign()


    //set ensign existence variables, shows/hides ensign HTML block
    function toggle_ensign()
    {
    
    //if ensign exists
    if(document.getElementById('ensign_hire').checked)
    {
    engHire = true
    document.getElementById('ensignDiv').style='display: block'
    }
    
    //if ensign does not exist
    if(document.getElementById('ensign_hire').checked == false)
    {
    engHire = false
    document.getElementById('ensignDiv').style='display: none'
    }
    
    //change costs based on ensign hire/fire
    updateCost()
    }



    //get captains weaponry, fill weapon checkboxes accordingly
    captain_weapons = ["{{ band['capweap']|join("\",\"")|safe }}"]
    for (i=0; i<captain_weapons.length; i++)
    {
      weapon = captain_weapons[i];

      if(document.getElementById(weapon + "_check").checked !== null)
      {
        document.getElementById(weapon + "_check").checked = true;
      }
    }


    //get ensign weaponry, fill checkboxes accordingly
    if(engHire == true)
    {
    ensign_weapons = ["{{ band['ensweap']|join("\",\"")|safe }}"]
    for (i=0; i<ensign_weapons.length; i++)
    {
      weapon = ensign_weapons[i];
      if(document.getElementById(weapon + "_ens_check"))
        {
        document.getElementById(weapon + "_ens_check").checked = true;
        }
      }
    }


   //occurs on troop change; updates troop table with relevant details
   function updateTroopRoster(row, x)
   {
     var sel = x.value;
     var troopTable = document.getElementById('rosterTable');

     //if troop fired (NO REFUND)
     if(sel == "Empty")
     {
       troopTable.rows[row].cells[1].innerHTML = '-';
       troopTable.rows[row].cells[2].innerHTML = '-';
       troopTable.rows[row].cells[3].innerHTML = '-';
       troopTable.rows[row].cells[4].innerHTML = '-';
       troopTable.rows[row].cells[5].innerHTML = '-'
       troopTable.rows[row].cells[6].innerHTML = '-';
       troopTable.rows[row].cells[7].innerHTML = 0;
       troopTable.rows[row].cells[8].innerHTML = '-';
     }

     //if troop hired
     {% for troop in people.keys() %}
     if(sel == "{{troop}}")
     {
       troopTable.rows[row].cells[1].innerHTML = '{{ people[troop]['Move'] }}';
       troopTable.rows[row].cells[2].innerHTML = '{{ people[troop]['Fight'] }}';
       troopTable.rows[row].cells[3].innerHTML = '{{ people[troop]['Shoot'] }}';
       troopTable.rows[row].cells[4].innerHTML = '{{ people[troop]['Shield'] }}';
       troopTable.rows[row].cells[5].innerHTML = '{{ people[troop]['Morale'] }}';
       troopTable.rows[row].cells[6].innerHTML = '{{ people[troop]['Health'] }}';
       troopTable.rows[row].cells[7].innerHTML = {{ people[troop]['Cost'] }};
       troopTable.rows[row].cells[8].innerHTML = '{{ people[troop]['Notes'] }}';

     }
     {% endfor %}
     updateCost();
     }


   updateCost()


   function updateCost()
   {

   console.log('STARTING UPDATECOST');
     var sum = 0;
     var myTable = ["{{ people|join("\",\"")|safe }}"]

        //ensign hire cost
        //most cases do nothing; here to test various refund mechanisms

        if(engHire && hadEnsign)
        {}

        if(engHire && !(hadEnsign))
        {
         sum += 250;
        }

        if(!(engHire) && hadEnsign)
        {}

        if(!(engHire) && !(hadEnsign))
        {}

        //troop cost

          //sum up cost of 8 troops
          for(i = 1; i <= 8; i++)
          {
            sum += parseInt(rosterTable.rows[i].cells[7].innerHTML);
          }


           //apparently the whole people=app.troops thing REFUSES TO OBEY ITS MASTER
           //so here's a new dictionary one can actually access
           //I'm fully aware that it's bad practice, but at this point I lack the time to figure out how to do this otherwise
           troop_costs = {'Augment Gorilla': 20, 'Lackey': 20, 'Security':  80, 'Engineer':60, 'Medic': 50, 'Commando':  100, 'Combat Droid': 150,}


          //sum up cost of initial troops (avoid double counting)
          initial_troops = ["{{ band['Troops']|join("\",\"")|safe }}"];
          if(initial_troops[0] !== "")
          {
          for(i=0; i<initial_troops.length; i++)
          {
          troop = initial_troops[i]
          sum -= troop_costs[troop]
          }
          }

        //sum up item costs

        //initial weapons loadout
        initial_weapons = ["{{ band['capweap']|join("\",\"")|safe }}"]
        initial_ens_weapons = ["{{ band['ensweap']|join("\",\"")|safe }}"]

        {% for weap in weaps %}
        {

          //subtract if currently possessed by captain
          if(document.getElementById("{{weap}}_check").checked)
          {
          sum += {{weaps[weap]}};
          }

          //add if initially possessed by captain (avoids double-counting)
          if(initial_weapons.indexOf("{{weap}}") >= 0)
          {
          sum -= {{weaps[weap]}};
          }


          //subtract if currently possessed by ensign
          if(document.getElementById("{{weap}}_ens_check").checked)
          {
           sum += {{weaps[weap]}};
          }

          //add if initially posses by ensign (avoids double-counting)
          if(initial_ens_weapons.indexOf("{{weap}}") >= 0)
          {
          sum -= {{weaps[weap]}};
          }

        }

        {% endfor %}

    // set new currency totals
    total = {{band['Treasury']}} - sum + parseInt(document.getElementById('add_currency').value);
    remainingGold.innerHTML = total;

    console.log(sum);
    console.log(total);
    console.log({{band['Treasury']}});
   }



   //spawns captain skill checkboxes dependant on specialism choice
   function setCapSkillchoice(x)
   {
     var choice = x.value;
     var myTable = document.getElementById('captainTable');
     var list = myTable.rows[1].cells[8];

     while (list.hasChildNodes()) {
       list.removeChild(list.firstChild);
     }
     if(choice == "Empty")
     {
       list.appendChild(document.createTextNode("No Skills"));
     }

     {% for spec in skills.keys() %}
     if(choice == "{{spec}}")
     {
       var div = document.createElement("div");
       {% for element in skills[spec] %}
       var tempbutton = document.createElement("input");
        tempbutton.setAttribute("type", "radio");
        tempbutton.setAttribute("id", "skillchoice");
        tempbutton.setAttribute("name", "skillchoice");
        tempbutton.setAttribute("value", "{{element}}");
        var templabel = document.createElement("label");
        templabel.appendChild(document.createTextNode("{{element}}"));
        div.appendChild(tempbutton);
        div.appendChild(templabel);
        {% endfor %}
        list.appendChild(div);


        }
        {% endfor %}
        }



    //spawns ensign skill checkboxes dependant on specialism choice
    function setEnsSkillchoice(x)
    {

      var choice = x.value;
      var myTable = document.getElementById('ensignTable');
      var list = myTable.rows[1].cells[8];

      while (list.hasChildNodes()) {
        list.removeChild(list.firstChild);
      }
      if(choice == "Empty")
      {
        list.appendChild(document.createTextNode("No Skills"));
      }
      {% for spec in skills.keys() %}
      if(choice == "{{spec}}")
      {
        var div = document.createElement("div");
        {% for element in skills[spec] %}
        var tempbutton = document.createElement("input");
         tempbutton.setAttribute("type", "radio");
         tempbutton.setAttribute("id", "skillchoiceens");
         tempbutton.setAttribute("name", "skillchoiceens");
         tempbutton.setAttribute("value", "{{element}}");
         var templabel = document.createElement("label");
         templabel.appendChild(document.createTextNode("{{element}}"));
         div.appendChild(tempbutton);
         div.appendChild(templabel);
         {% endfor %}
         list.appendChild(div);

       }
       {% endfor %}
       }


    // shamelessly stolen from http://shebang.brandonmintern.com/foolproof-html-escaping-in-javascript/
    // One hopes tis indeed foolproof.
    // Use the browser's built-in functionality to quickly and safely escape the string
    function escapeHTML(str)
    {
    var div = document.createElement('div');
    div.appendChild(document.createTextNode(str));
    return div.innerHTML;
    }


   //client-side validation for warband edit commit
   function validate()
   {

   // currency check
   if(total < 0)
   {
   alert("Insufficient funds!");
   return false
   }

   //name check
   if((document.getElementById('bandnametext').value) == "")
   {
   alert("Please name your Warband!");
   return false

   }

   //passed validation
   console.log('Validation success');
   return true

   }

   //run validation; submit warband details to server
   function doFormSubmit(total)
   {
     method =  "post"; // Set method to post by default if not specified.

     //band validation
     if(!(validate()))
     {
     return
     }
     //passed validation if you got this far


     //declare flask form with which to pass information to server
     var form = document.createElement("form");
     form.setAttribute("method", method);
     form.setAttribute("action", "/edit/{{ band['Name'] }}");

     //function to submit given values to flask form
     function submit_element(var_name, input_value)
     {

     var element = document.createElement("input");
     element.setAttribute("type", "hidden");
     element.setAttribute("value", input_value);
     element.setAttribute("name", var_name);
     form.appendChild(element);

     }

     //sanitise and submit bandname input
     submit_element("bandname", escapeHTML(document.getElementById('bandnametext').value));


     //band details
     submit_element("remainingGold", total);


     //captain stats
     submit_element("capspec", document.getElementById('capspecsel').value);
     submit_element("capmove", 5);
     submit_element("capfight", document.getElementById('capfig').value);
     submit_element("capshoot", document.getElementById('capsho').value);
     submit_element("capshield", 12);
     submit_element("capmorale", document.getElementById('capmor').value);
     submit_element("caphealth", document.getElementById('caphea').value);
     submit_element("capexperience", document.getElementById('capexp').value);


     //captain weapons
     var capweap_array = []
     {% for weap in weaps %}
     if(document.getElementById("{{weap}}_check").checked)
     {
       var weapon = "{{weap}}"
       //sum += {{weaps[weap]}};
       capweap_array.push(weapon)
     }
     {% endfor %}
     submit_element("capweap", JSON.stringify(capweap_array))


     //captain skills
     var capskills = []
     var capskillarr =  document.getElementsByName("capskil");
     for(k=0;k<capskillarr.length;k++)
     {
       if (capskillarr[k].checked)
       {
         capskills.push(capskillarr[k].value);
       }
     }
     submit_element("capskill", JSON.stringify(capskills));



     //if ensign exists, submit their details
      if (engHire)
     {

       //ensign existence and specialism
       submit_element("hasensign", engHire);
       submit_element("ensspec", document.getElementById('ensskillsel').value);


       //if started with ensign, grab potentially changed stat values
       if(hadEnsign){
           submit_element("ensmove", 7);
           submit_element("ensfight", document.getElementById('enfig').value);
           submit_element("ensshoot", document.getElementById('ensho').value);
           submit_element("ensshield", 10);
           submit_element("ensmorale", document.getElementById('enmor').value);
           submit_element("enshealth", document.getElementById('enhea').value);
           submit_element("ensexperience", document.getElementById('enexp').value);
       }


       // if newly hired ensign, grab default stat values
       // (I know defining the values again here is terrible, terrible practice, but accessing some
       // of the server-side values is proving exceedingly troublesome)
       else
       {
           submit_element("ensmove", 7);
           submit_element("ensfight", 0);
           submit_element("ensshoot", -1);
           submit_element("ensshield", 10);
           submit_element("ensmorale", 2);
           submit_element("enshealth", 8);
           submit_element("ensexperience", 0);
       }


       //ensign skills
       var ensskills = []
       var ensskillarr =  document.getElementsByName("ensskil");
       for(k=0;k<ensskillarr.length;k++)
       {
         if (ensskillarr[k].checked)
         {
           ensskills.push(ensskillarr[k].value);
         }
       }
       submit_element("ensskill", JSON.stringify(ensskills));


      //ensign weapons
      var ensweap_array = []
      {% for weap in weaps %}

      if(document.getElementById("{{weap}}_ens_check").checked)
      {
       var weapon = "{{weap}}"
       ensweap_array.push(weapon)
      }
      {% endfor %}
      submit_element("ensweap", JSON.stringify(ensweap_array))

      }
      //end of ensign if statement


      //troops details
      var troopsarr = []
      for(i = 1; i < 9; i++)
      {
        var selector = document.getElementById('troop'+i);
        troopsarr.push(selector.value);
      }
      submit_element("troops", JSON.stringify(troopsarr))


      //submit form!
      document.body.appendChild(form);
      form.submit();
      console.log('form submit success!')
   }



    </script>
    </html>
